.Hero-container {
  padding: 0 50px 50px;

  background-image: url(../../assets/heroimg.webp);
  background-size: cover;
  background-position: center;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  color: #fff; /* Text color on top of the background */
}
.Hero-container h1 {
  color: #2e2e2e;
  font-family: Gotham;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%; /* 74.24px */
  letter-spacing: -3.2px;
  text-align: center;
  text-transform: uppercase;
}
.Hero-container button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  width: 298px;
  height: 71.41px;
  flex-shrink: 0;
  border-radius: 9999px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #444a44;
  font-family: Gotham;
  font-size: 21.972px;
  font-style: normal;
  font-weight: 300;
  line-height: 13.733px; /* 62.5% */
}
.Sub-Hero {
  display: flex;
  margin-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  flex-shrink: 0;
}
.Sub-Hero h3 {
  color: #444a44;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Sub-span-title {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Sub-span-title h2 {
  color: #1b1818;
  text-align: center;
  font-family: Gotham;
  font-size: 51.7px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.556%; /* 49.919px */
}
.Sub-span-title span {
  color: #fff;
  text-shadow: 1px 0px 10px #136192;
  border-radius: 3px;
  background: linear-gradient(
    180deg,
    rgba(19, 97, 146, 0.73) 50%,
    #7491a3 100%
  );
  box-shadow: 0px 0px 27px 0px #136192;
  font-family: Gotham;
  font-size: 51.7px;
  font-style: normal;
  font-weight: 500;
  line-height: 57.2px; /* 110.638% */
}
.Sub-span-title h5 {
  margin-top: 28px;
  width: 619px;
  height: 89px;
  color: #444a44;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}
.Sub-span-title img {
  margin: 20px;
  height: 100vh;
}
.Sub-span-title h4 {
  margin: 20px;
  padding: 20px;
  color: #444a44;
  text-align: center;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
