.Hero-container {
  background-image: url(../../../../public/assets/img/hero.png);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 160px);
  position: relative;
}

.hero__Ttl {
  padding-top: 21rem;
}

.hero__Cta {
  position: absolute;
  left: 32rem;
  bottom: 9rem;
}

.hero__Ttl h1 {
  font-family: Gotham;
  font-size: 64px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  /* color: #2E2E2E; */
  text-transform: uppercase;
}

.Hero-container button {
  font-family: Gotham;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 9999px;
  background: #fff;
  color: #444a44;
  padding: 13px 13px 13px 35px;
  gap: 70px;
  box-shadow: 0px 2px 2px 0px #00000040 inset;
  cursor: pointer;
}

.Sub-Hero {
  padding: 0 80px;
  margin-top: 13rem;
}

.sb_hr_Row1 {
  display: flex;
  width: 100%;
  gap: 53px;
}

.sb_hr_Row1 p {
  font-family: Gotham;
  font-size: 40px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  flex: 1;
  padding-top: 53px;
}

.sb_hr-img {
  width: 523px;
  height: 371px;
}

.sb_hr-img img {
  width: 100%;
  object-fit: cover;
}

.bld__Ttl h2 {
  font-family: Gotham;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
}

.build__Sec {
  margin-top: 24px;
  padding: 0 80px;
}

.ttl_stl1 {
  background: linear-gradient(180deg, rgba(19, 97, 146, 0.73) 50%, #7491A3 100%);
  box-shadow: 0px 0px 27px 0px #136192;
  color: #020202;
  display: inline-block;
  padding: 10px 3px;
  border-radius: 3px;
  line-height: 30px;
}

.ttl_stl2 {
  font-family: Gotham;
  font-size: 119px;
  font-weight: 700;
  line-height: 114px;
  letter-spacing: 0em;
}

.ttl_stl3 {
  background: linear-gradient(180deg, rgba(19, 97, 146, 0.73) 50%, #7491A3 100%);
  box-shadow: 0px 0px 27px 0px #136192;
  font-family: Gotham;
  font-size: 119px;
  font-weight: 700;
  line-height: 114px;
  letter-spacing: 0em;
  color: #1E1E1E;
  padding: 15px 23px 23px;
  display: inline-block;
  border-radius: 3px;
}

.bld__Ttl {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.bld__Ttl p {
  font-family: 'Gotham';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  width: 32%;
}

.bld__hr-img img {
  width: 100%;
  object-fit: cover;
}

.bld__hr-img {
  margin-top: 6rem;
}

.bld_ext-p {
  margin-top: 18rem;
}

.bld_ext-p p {
  font-family: Gotham;
  font-size: 55px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0 15%;
}