.testimonial-carousel {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(
      0deg,
      rgba(5, 1, 13, 0.6) 0%,
      rgba(5, 1, 13, 0.6) 100%
    ),
    linear-gradient(102deg, #7cefff 12.48%, #397ee4 40.34%, #1b0536 87.81%);

  /* filter: blur(71.39350891113281px); */

  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.testimonial-carousel h2 {
  color: #fff;
  font-family: Inter;
  font-size: 47.298px;
  font-style: normal;
  font-weight: 600;
  line-height: 71.394px; /* 150.943% */
  margin-top: 20px;
  margin-bottom: 20px;
}
.testimonial h4 {
  margin: 40px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 43.87px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slick-dots {
  margin-top: 20px;
  margin-bottom: 10px;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  cursor: pointer;
  padding: 0;
}
.slick-dots li button:before {
  color: #a59f9f;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: rgb(255, 255, 255);
}
