.nav-container {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.first-nav-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.first-logo-nav img {
  padding: 0 50px;
}
.nav-first-links {
  margin-left: 50px;
}
.nav-first-links a {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 30px;
}
.second-nav-section button {
  width: 220px;
  height: 74px;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.button-Contact {
  border: none;
  background-color: inherit;
  margin-right: 20px;
}
.button-Login {
  color: #f7f7f7;
  border: none;
  background-color: #00b2c7;
  border-radius: 37px;
}
