.ft_Hero-wrap {
    padding: 0 80px;
    height: calc(100vh - 148px);
    background: #fff;
}

.ft_Hero-sec {
    padding-top: 50px;
    display: flex;
    align-items: flex-end;
}

.ft_Hr-ttl {
    flex: 1;
}

.ft_Hr-ttl h1 {
    font-family: Gotham;
    font-size: 113px;
    font-weight: 400;
    line-height: 107px;
    letter-spacing: -0.05em;
    text-align: left;
    text-transform: capitalize;
    color: #000000;
}

.ft_Hr-img {
    flex: 1;
}

.ft_Hr-img img {
    width: 100%;
    object-fit: cover;
}